<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <form fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field>
        <input matInput class="form-control" placeholder="Felhasználónév" id="username" name="username" [(ngModel)]="username">
      </mat-form-field>

      <mat-form-field>
        <input matInput class="form-control" type="password" placeholder="Jelszó" id="password" name="password" [(ngModel)]="password">
      </mat-form-field>
      <button mat-button type="submit" color="primary" (click)="login()">Bejelentkezés</button>
    </form>
  </mat-card>
</div>
