<table mat-table class="table" *ngIf="service.adatom">
  <thead>
  <th style="color: white">Name</th>
  <th style="color: white">Nickname</th>
  <th style="color: white">Status</th>
  <th style="color: white">Birthday</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let adat of service.adatom">
    <td style="color: white">{{adat.name}}</td>
    <td style="color: white">{{adat.nickname}}</td>
    <td style="color: white">{{adat.status}}</td>
    <td style="color: white">{{adat.birthday}}</td>
    <td><button type="button" class="btn btn-outline-danger" (click)="delete(adat)">Delete</button></td>
  </tr>
  </tbody>
</table>
